body {
  background-color:lightgray;
}


code {
  border: 1px solid black;
  padding: 5px;
  display: block;
  white-space: pre-wrap;
}

.spacelink {
  margin-top: 3px;
  margin-bottom: 3px;
  display: inline-block;
}


/*
  Available topic fields:
  h5 - class="topic"
  i - class="tdesc"
*/

.topic {
  display: inline;
}


/*
  Available navtable fields:
  table - id="navtable"
  thead - id="navthead"
  tbody - id="navtbody"
  th - id="navth"
  tr - class="navtr"
  td - class="navtd"
  a - class="nava"
*/

#navtable {
  border: 1px solid blue;
  border-spacing: 0px;
}

#navth {
  background-color: blue;
  color: white;
}

td {
  border: 1px solid blue;
  padding: 3px;
}

/*
  Available legend fields:
  div [OR] span - id="legendbox"
  p - id="legendheader"
  pre - id="legend"
*/
