<!-- Normal -->
<div id="navbox">
	<table id="navtable">
		<thead id="navthead">
			<tr class="navtr"><th id="navth" colspan="1">Navigation</th></tr>
		</thead>
		<tbody id="navtbody">
			<tr class="navtr"><td class="navtd"><a class="nava" href="https://mi-ftc.github.io/index.html">Go Home</a></td></tr>
		</tbody>
	</table>
</div>


<!-- Expanded -->
<div id="navbox">
	<table id="navtable">
		<thead id="navthead">
			<tr class="navtr">
				<th id="navth" colspan="1">Navigation</th>
			</tr>
		</thead>
		<tbody id="navtbody">
			<tr class="navtr">
				<td class="navtd">
					<a class="nava" href="https://mi-ftc.github.io/index.html">Go Home</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>


<!-- Compacted -->
<div id="navbox">
	<table id="navtable"><thead id="navthead">
		<tr class="navtr"><th id="navth" colspan="1">Navigation</th></tr>
	</thead><tbody id="navtbody">
		<tr class="navtr"><td class="navtd"><a class="nava" href="https://mi-ftc.github.io/index.html">Go Home</a></td></tr>
	</tbody></table>
</div>


<!-- Tutorial -->
<table id="navtable">
	<thead id="navthead">
		<tr class="navtr"><th id="navth" colspan="3">Navigation</th></tr>
	</thead>
	<tbody id="navtbody">
		<tr class="navtr"><td class="navtd"><a class="nava" href="../../../index.html">Go Home</a></td><td class="navtd"><a class="nava" href="../../../springboard/index.html">Back to Springboard</a></td><td class="navtd"><a class="nava" href="../../index.html">Back to MI-FTC Tutorials Index</a></td></tr>
	</tbody>
</table>


<!-- Blog -->
<table id="navtable"><thead id="navthead">
		<tr class="navtr"><th id="navth" colspan="4">Navigation</th></tr>
	</thead><tbody id="navtbody">
		<tr class="navtr"><td class="navtd">Previous</td><td class="navtd"><a class="nava" href="https://mi-ftc.github.io/index.html">Go Home</a></td><td class="navtd"><a class="nava" href="../index.html">Blog Index</a></td><td class="navtd">Next</td></tr>
	</tbody></table>