<!-- Normal -->
<div id="navbox">
	<table id="navtable">
		<thead id="navthead">
			<tr class="navtr"><th id="navth" colspan="1">Navigation</th></tr>
		</thead>
		<tbody id="navtbody">
			<tr class="navtr"><td class="navtd"><a class="nava" href="https://mi-ftc.github.io/index.html">Go Back</a></td></tr>
		</tbody>
	</table>
</div>


<!-- Expanded -->
<div id="navbox">
	<table id="navtable">
		<thead id="navthead">
			<tr class="navtr">
				<th id="navth" colspan="1">Navigation</th>
			</tr>
		</thead>
		<tbody id="navtbody">
			<tr class="navtr">
				<td class="navtd">
					<a class="nava" href="https://mi-ftc.github.io/index.html">Go Back</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>


<!-- Compacted -->
<div id="navbox">
	<table id="navtable"><thead id="navthead">
		<tr class="navtr"><th id="navth" colspan="1">Navigation</th></tr>
	</thead><tbody id="navtbody">
		<tr class="navtr"><td class="navtd"><a class="nava" href="https://mi-ftc.github.io/index.html">Go Back</a></td></tr>
	</tbody></table>
</div>