<!DOCTYPE html>
<html>
  <head>
	<!-- Head structure from Neocities (https://www.neocities.org) -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title - MI-FTC</title>
    <link href="https://mi-ftc.github.io/global.css" rel="stylesheet" type="text/css" media="all">
    <script src="internal/lib/theming.js"></script>
	<!-- Link to any local stylesheets here -->
  </head>
  <body onload="applySetTheme();">
    <hr><hr><hr>
	<div id="headerbox">
    <h3>Title</h3>
    <p>Description</p>
	</div>
	<div id="navbox">
		<!-- Insert a Navbox from the template here and customize as needed -->
	</div>
	<hr>
	<div id="legendbox">
        <p>Legend:</p>
		<!-- If necessary, insert a legend to define markers on the page. -->
		<!-- If not necessary, do not include this box. -->
	</div>
	<hr>
	<div id="contentbox">
		<!-- Page contents -->
	</div>
    <hr><hr><hr>
  </body>
</html>
